<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="color:white" asp-area="" asp-controller="Home" asp-action="Index">Jorge's Movie Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            
                                <a class="text-light nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"data-bs-toggle="dropdown" aria-expanded="false">Genres</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="1" >Adventure</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="2" >Fantasy</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="3" >Animation</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="4" >Drama</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="5" >Horror</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="6" >Action</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="7" >Comedy</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="8" >History</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="9" >Western</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="10" >Thriller</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="11" >Crime</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="12" >Documentary</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="13" >Science Fiction</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="14" >Mystery</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="15" >Music</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="16" >Romance</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="17" >Family</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="18" >War</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="19" >Foreign</a></li>
                                   <li><a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Genres" asp-route-id="20" >TV Movie</a></li>
                                </ul>
                                
                          
                        
                    </ul>
                </div>
                <partial name="_LoginInfoPartial"/>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MovieWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
